@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  @apply px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500;
}
input {
  @apply p-2 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500;
}

/* login & Register form */
.studentform {
  @apply w-full lg:w-3/4 mx-auto grid gap-5
}
.studentform div {
  @apply grid  lg:grid-cols-3 items-center gap-10
}
label {
  @apply flex flex-col gap-2 text-gray-700
}
input[type="file"]::file-selector-button {
  /* border: 2px solid #6c5ce7; */
  border: none;
  padding: .2rem;
  border-radius: 0.2em;
  background-color: #a29bfe;
  transition: 1s;
}

input[type="file"]::-ms-browse:hover {
  background-color: #81ecec;
  border: none;
  /* border: 2px solid #00cec9; */
}

input[type="file"]::-webkit-file-upload-button:hover {
  background-color: #81ecec;
  border: 2px solid #00cec9;
}

input[type="file"]::file-selector-button:hover {
  background-color: #81ecec;
  border: 2px solid #00cec9;
}

select {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-auto p-2.5 
}
/* table {
  @apply w-4/5 mx-auto
}
table, th,  td {
  @apply border-2 text-left 
} */

td {
  @apply  px-2 py-4 p-2 border-b border-gray-200
} 
td a {
  @apply cursor-pointer
}

aside a {
  @apply flex items-center gap-x-2 p-3 rounded-lg;
  transition: all 300ms ease-in-out;
}

aside a:hover {
  @apply bg-gray-700
}